@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#orbit-bx {
  position: absolute;
  width: 18em;
  height: 18em;
  top: 0px;
}

.orbit-system {
  position: relative;
  width: 100%;
  height: 100%;

  -webkit-transform: rotateX(75deg) rotateY(-30deg);
  transform: rotateX(75deg) rotateY(-30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.orbit-main,
.orbit-object {
  position: absolute;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.orbit1 {
  left: 90px;
  width: 10em;
  height: 10em;
}

.orbit2 {
  top: -700px;
  left: 100px;
  width: 16em;
  height: 16em;
}

.orbit3 {
  top: -1300px;
  left: 220px;
  width: 10em;
  height: 10em;
}


.orbit-main {

  margin-top: -8em;
  margin-left: -8em;

  animation-name: orbit;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}

.orbit-object {
  top: 100%;
  width: 3em;
  height: 3em;

  animation-name: invert-orbit;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: rotateZ(-360deg);
  opacity: 0;
  transition: .2s;
}

@keyframes invert-orbit {
  0% {
    transform: rotateZ(-360deg) rotateY(30deg) rotateX(-75deg);
    opacity: 1;
    z-index: 10;
  }

  80% {
    opacity: .3;
    z-index: -10;
  }

  85% {
    opacity: .7;
    z-index: -10;
  }

  100% {
    transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
    opacity: 1;
    z-index: 10;
  }
}


/* Orbit2 */
.orbit2-main1 {
  animation-delay: 2s;
}

.orbit2-main2 {
  animation-delay: 4s;
}

.orbit2-main3 {
  animation-delay: 6s;
}

.orbit2-main4 {
  animation-delay: 8s;
}

.orbit2-object1 {
  animation-delay: 2s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

.orbit2-object2 {
  animation-delay: 4s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

.orbit2-object3 {
  animation-delay: 6s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

.orbit2-object4 {
  animation-delay: 8s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

/* ------------------------------------------------------------------------------- */

/* Orbit 1 and 2 */

.orbit13-main1 {
  animation-delay: 3S;
}

.orbit13-main2 {
  animation-delay: 5s;
}

.orbit13-main3 {
  animation-delay: 7s;
}

.orbit13-object1 {
  animation-delay: 3s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

.orbit13-object2 {
  animation-delay: 5s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

.orbit13-object3 {
  animation-delay: 7s;
  transform: rotateZ(0deg) rotateY(30deg) rotateX(-75deg);
}

/* Responsive */

@media (max-width: 1020px) {
  #orbit-bx {
    margin-top: -20px;
    transform: scale(1.5);
  }
}

@media (max-width: 650px){
  #orbit-bx{
    /* margin-top: 2px; */
    transform: scale(1.3);
  }
}

@media (max-width: 550px) {
  #orbit-bx {
    transform: scale(1.1);
  }
}

@media (max-width: 470px) {
  #orbit-bx {
    margin-left: 50px;
    transform: scale(.9);
  }
}

@media (max-width: 370px) {
  #orbit-bx {
    margin-top: 50px;
    margin-left: 30px;
    transform: scale(.7);
  }
}

@media (max-width: 300px) {
  #orbit-bx {
    transform: scale(.6);
  }
}

.vertical-right {
  border-right: 5px solid #017f7f;
  height: 100%;
}

@media (max-width: 600px) {
  .vertical-right{
    border-right: 0px;
  }
}

.rotateY_150deg{
  transform: rotateY(150deg);
}

.slider{
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}